<body>
  <header class="header">
    <h1 class="logo">Memories</h1>
  </header>

  <h1 class="form">編集</h1>
  <div class="row form">
  <div class="col-lg-12">
  <%= render partial: 'form', locals: { shot: @shot } %> 
</body>
