<body>
  <header class="header">
    <h1 class="logo">Memories</h1>
  </header>
    <div class="wrapper">
      
      <main class="main">
        <div class="profile">
          <h2 class="name">プロフィール</h2>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQna_3E15mNbH4_1fXU5PopvqI98ww4dKjf72Gas48RCNTBHRoF" class="baby">
        </div>
        <div class="article">
          <h2 class="articles">思い出一覧</h2>
        </div>
      </main>
      
        <div class="sidemenu">
          <div id="calendar"></div>
        </div>
        
    </div>
    
    <div class="bottom"></div>
  <footer class="footer">
  </footer>
</body>