<body>
  <header class="header">
    <h1 class="logo">Memories</h1>
  </header>
  
  <div id ="error_explanation">
   <% if @shot.errors.present? %>
    <h2 class="error-count"><%= @shot.errors.count %>件のエラーがあります</h2>
    <ul>
      <% @shot.errors.full_messages.each do |message| %>
      <p><%= message %></p>
      <% end %>
    </ul>
  <% end %>
  </div>
  
  <h1 class="form">新規投稿</h1>
  <div class="row form">
  <div class="col-lg-12">
  <%= render partial: 'form', locals: { shot: @shot } %> 

</body>