// Place all the styles related to the shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  width: 100%;
  padding: 28px 0 10px;
  box-shadow: 4px 4px 3px rgba(0,0,0,0.5), inset 0 0 20px 2px yellow ;
}

.logo{
  width: 425px;
  height: 56px;
  margin: 0 auto;
  font-family: impact;
  letter-spacing: 10px;
  font-size: 30px;
}

.wrapper{
  width: 1470px;
  margin: 30px auto 40px;
}

.main{
  display: block;
  float: left;
  width: 940px;
  margin: 10px;
  background-color: white;
  border-style: solid;
}

.profile{
  display: block;
  float: left;
  width: 400px;
  margin: 10px;
  background-color: whitesmoke;
  clear: both;
}


.new-articles{
  width: 400px;
  margin: 10px;
  float: left;
  background-color: whitesmoke;
}


.baby{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article{
  display: block;
  float: right;
  width: 490px;
  height: 1160px;
  margin: 10px;
  background-color: whitesmoke;
}

.name, .names{
  text-align: center;
}

.new-names{
  margin-left: 70px;
}

.articles{
  float: left;
  margin-top: 25px;
  margin-left: 80px;
}

.sidemenu{
  float: right;
  width: 480px;
  border-style: solid;
  margin: 10px;
  background-color: white;
}

.footer{
  width: 100%;
  border-style: solid;
  height: 100px;
}

.bottom{
  clear: both;
  height: 10px;
}

#calendar{
  padding: 10px;
  border-bottom: solid;
  margin-bottom: 15px;
}

.btns {
  display: block;
  cursor: pointer;
  padding: 12px 30px;
  background-color: #E06464;
  box-shadow: 0px 5px #BB4B4B;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8em;
  width: 100px;
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
  float: right;
}
  
  .btns:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.form{
  text-align: center;
}

.date, .shot-title, .shot-btn, .form-group{
  margin: 5px;
  text-align: center;
}

.texts{
 text-align: center;
 
}

.box{
  border-radius: 15px;
}

.image-tag{
  float: right;
  margin-right: 10px;
}

.shot-date, .shot-titles{
  width: 50%;
  margin-left: 10px;
}

.informations{
  text-align: center;
  margin-top: 30px;
}
